<body>
	<mat-toolbar color="primary">
	  <button mat-icon-button (click)="goLanding()">
		  <mat-icon>home</mat-icon>
	  </button>
	  <button mat-icon-button (click)="chooseRandomPlayer()">
		  <mat-icon>restore</mat-icon>
	  </button>
	</mat-toolbar>
	
	<div class="game-area">
		<h1>Guess the handiness of the player</h1>
	  	<!-- Game content with buttons on either side of the image -->
	  	<div class="content-area">
			<button mat-raised-button color="accent" (click)="guess('L')">Left</button>
		<div class="player-info" *ngIf="currentName">
			<img [src]="getPlayerImageUrl()" draggable="false">
		  	<p>{{ currentName }}</p>
		</div>
			<button mat-raised-button color="primary" (click)="guess('R')">Right</button>
	  	</div>
		<div *ngIf="feedbackMessage" class="feedback-message">
			{{ feedbackMessage }}
	  	</div>
	</div>
  </body>
  