table {
	border-collapse: collapse;
	width: 100%;
}
	
th,td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: center;
	background-color: #697987;
}
	
.mat-toolbar {
	height: auto;
	background-color: #333;
}
	
.spacer {
	flex: 1;
}
	
.non-clickable {
	pointer-events: none; /* Disable click events */
}
	
.cell-hover:hover {
	background-color: #ababab;
	cursor: pointer;
}

body{
	margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(112, 118, 124);
    background-size: cover;
    background-position: center; 
    font-family: Arial, sans-serif;
    color: #fff;
}
	