
<div class="dialog-container">
	<div class="dialog-header">
	  <h2>Help Center</h2>
	</div>
	<mat-tab-group>
	  <mat-tab label="Tab 1">
		<ng-template mat-tab-label>
		  <mat-icon>info</mat-icon>
		  How to play
		</ng-template>
		<div class="tab-content">
		  <!-- Your content for Tab 1 goes here -->
		  <ul>
			<li>Division: Rouge (mauvaise conférence), Jaune (mauvaise section)</li>
			<li>Âge: Rouge ( >10 ans d'écart), Rouge Pâle ( >5 ans d'écart), Jaune ( >5 an d'écart)</li>
			<li>Position: Rouge (mauvaise position), Jaune (mauvaise position)</li>
			<li>Numéro: Rouge ( >30 d'écart), Rouge Pâle ( >10 d'écart), Jaune ( >1 d'écart)</li>
		  </ul>
		</div>
	  </mat-tab>
	  <mat-tab label="Tab 2">
		<ng-template mat-tab-label>
		  <mat-icon>settings</mat-icon>
		  Icons
		</ng-template>
		<div class="tab-content">
		  <!-- Your content for Tab 2 goes here -->
		  <!-- Your content goes here -->
		<p>Here is a summary of the different icon:</p>
		<mat-icon>lock_open</mat-icon>
		: The answer<br>
		<mat-icon>autorenew</mat-icon>
		: Reset the game<br>
		</div>
	  </mat-tab>
	</mat-tab-group>
  </div>
  


