
<div class="dialog-container">
	<div class="dialog-header">
	  <h2>Help Center</h2>
	</div>
	<mat-tab-group>
	  <mat-tab label="Tab 1">
		<ng-template mat-tab-label>
		  <mat-icon>info</mat-icon>
		  How to play
		</ng-template>
		<div class="tab-content">
		  <!-- Your content for Tab 1 goes here -->
		  <ul>
			<li>Division: Red (wrong conference), Yellow (wrong division)</li>
			<li>Age: Red ( >10 years off), Light red ( >5 years off), Yellow ( Less than 5 years off)</li>
			<li>Position: Red (wrong position), Yellow (Wrong forward position)</li>
			<li>Number: Red ( >30 off), Light ( >10 ff), Yellow ( >1 off)</li>
		  </ul>
		</div>
	  </mat-tab>
	  <mat-tab label="Tab 2">
		<ng-template mat-tab-label>
		  <mat-icon>settings</mat-icon>
		  Icons
		</ng-template>
		<div class="tab-content">
		  <!-- Your content for Tab 2 goes here -->
		  <!-- Your content goes here -->
		<p>Here is a summary of the different icon:</p>
		<mat-icon>lock_open</mat-icon>
		: The answer<br>
		<mat-icon>autorenew</mat-icon>
		: Reset the game<br>
		</div>
	  </mat-tab>
	</mat-tab-group>
  </div>
  


