.mat-toolbar {
	height: auto;
	position: fixed;
}
body{
	margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/rink.jpg'); /* Set the path to your background image */
    background-size: cover; /* Scale the background image to cover the entire viewport */
    background-position: center; /* Center the background image */
    font-family: Arial, sans-serif;
    color: #fff; /* Set text color to white for better readability on the background */
}



  
  
	