.mat-toolbar {
    height: auto;
    background-color: #333;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #959a9e;
    font-family: Arial, sans-serif;
    color: #fff;
}
 .table-responsive {
	width: 80%;
	overflow-x: auto;
  }
  
  table {
	max-width: 100%;
  }
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    background-color: #959a9e;
    color: black;
	font-size: 30px;
}
th:hover {
    background-color: #ababab;
    cursor: pointer;
}
.image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.image img {
    width: 100px;
    height: 100px;
}

