body{
	margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(112, 118, 124);
    background-size: cover; /* Scale the background image to cover the entire viewport */
    background-position: center; /* Center the background image */
    font-family: Arial, sans-serif;
    color: #fff; /* Set text color to white for better readability on the background */
}

.mat-toolbar {
	height: auto;
	position: fixed;
	background-color: #333;
}
.center-container {
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.center-content {
	background-color: transparent;
	display: flex;
	flex-direction: column; /* Change this line */
    justify-content: center;
    align-items: center;
	height: 100%;
}

h1 {
    color: #333;
	font-size: 50px;
}

.button {
	position: relative;
	overflow: hidden;
	height: 3rem;
	padding: 0 2rem;
	border-radius: 1.5rem;
	background: #3d3a4e;
	background-size: 400%;
	color: #fff;
	border: none;
	cursor: pointer;
	margin: 2%;
  }
  
  .button:hover::before {
	transform: scaleX(1);
  }
  
  .button-content {
	position: relative;
	z-index: 1;
  }
  
  .button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: 0 50%;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(
	  82.3deg,
	  rgba(150, 93, 233, 1) 10.8%,
	  rgba(99, 88, 238, 1) 94.3%
	);
	transition: all 0.475s;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #282828; /* Mise à jour de la couleur de fond pour un look plus doux */
    color: #f2f2f2; /* Couleur du texte ajustée pour une meilleure lisibilité */
    text-align: center;
    padding: 5px 0; /* Ajustement de l'espacement interne */
    font-size: 12px; /* Ajustement de la taille de la police */
}

.footer .social-media-links a {
    margin: 0 15px; /* Espacement entre les icônes ajusté */
    display: inline-block; /* Assure que les liens sont correctement espacés */
}

.footer .social-media-links img {
    width: 25px; /* Taille des icônes ajustée */
    height: 25px;
    vertical-align: middle;
    transition: transform 0.3s ease; /* Animation sur le survol */
}

.footer .social-media-links a:hover img {
    transform: scale(1.1); /* Effet de zoom sur les icônes au survol */
}


