<body>
	<mat-toolbar color="primary">
		<button mat-icon-button>
			<mat-icon>help</mat-icon>
		</button>
	</mat-toolbar>
    <div class="center-container">
		<div class="center-content">
            <h1>Games</h1>
			<button class="button" routerLink="/puckdoku" color="primary">
				<span class="button-content">NHL Crossover Grid</span>
			</button>
			<button class="button" routerLink="/wordle" color="primary">
				<span class="button-content">NHL Wordle</span>
			</button>
			<button class="button" routerLink="/history" color="primary">
				<span class="button-content">Draft History</span>
			</button>
        </div>         
    </div>
</body>
