/* table.component.css */
body {
	background-image: url("../../assets/rink.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	height: auto;
  }
/* Style the toolbar container */
.toolbar-container {
	overflow-x: auto; /* Horizontal scroll when necessary */
	white-space: nowrap; /* Prevent wrapping of toolbar content */
  }
/* Center the toolbar content horizontally and give it some spacing */
.app-toolbar {
	display: flex;
	justify-content: space-between;
	padding: 0 16px;
  }
  
  /* Center the content in the container */
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }
  
  /* Style the content container within the container */
  .content-container {
	text-align: center;
	padding: 20px;
  }
  
  /* Style the table container */
  mat-table {
	width: auto;
	max-width: auto; /* Set the maximum width as per your design */
	opacity: 80%;
  }

  /* Apply this CSS for the table */
.table-responsive {
	width: 100%;
	overflow-x: auto;
  }