/* table.component.css */
/* Style the toolbar container */
.toolbar-container {
	overflow-x: auto; /* Horizontal scroll when necessary */
	white-space: nowrap; /* Prevent wrapping of toolbar content */
  }
/* Center the toolbar content horizontally and give it some spacing */
.app-toolbar {
	display: flex;
	justify-content: space-between;
	padding: 0 16px;
  }
  
  /* Center the content in the container */
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
  }
  
  /* Style the content container within the container */
  .content-container {
	text-align: center;
	padding: 20px;
  }
  
  /* Style the table container */
  mat-table {
	max-width: 100%; /* Set the maximum width as per your design */
  }

  /* Apply this CSS for the table */
.table-responsive {
	width: 100%;
	overflow-x: auto;
  }