.mat-toolbar {
	height: auto;
	position: fixed;
}
body{
	margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/rink.jpg'); /* Set the path to your background image */
    background-size: cover; /* Scale the background image to cover the entire viewport */
    background-position: center; /* Center the background image */
    font-family: Arial, sans-serif;
    color: #fff; /* Set text color to white for better readability on the background */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center-content {
  padding: 20px; /* Add some padding */
  background-color: transparent; /* No white background */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: adds depth with a subtle shadow */
  border-radius: 8px; /* Optional: adds rounded corners for a modern look */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 4-column grid */
  gap: 20px;
  justify-content: center;
}

.team-logo-container img {
  width: 100px; /* Control size of logos */
  height: auto;
  transition: transform 0.2s; /* Smooth transition for interaction */
}

.team-logo-container img:hover {
  transform: scale(1.1); /* Slightly enlarge logos on hover */
}

  
  
	