<body>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="goLanding()">
            <mat-icon>home</mat-icon>
        </button>
    </mat-toolbar>
	<div class="table-responsive">
		<h1 style="font-size: 40px;margin-top: 20px;color: black;">NHL STATS</h1>
		<h1 style="color: black;">2023-2024</h1>
		<h1 style="color: black;">Click to view</h1>
		<div class="grid-container">
            <div *ngFor="let team of all_nhl_teams" class="team-logo-container">
                <img src="assets/{{team}}.png" (click)="onLogoClick(team)" style="cursor: pointer; width: 100px; height: auto;" alt="{{team}} logo">
            </div>
        </div>
	</div>
</body>
