.mat-toolbar {
	height: auto;
	position: fixed;
	background-color: #333;
}
body{
	margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(112, 118, 124);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center-content {
  background-color: transparent;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;
}

.team-logo-container img {
  width: auto;
  height: auto;
  transition: transform 0.2s;
}

.team-logo-container img:hover {
  transform: scale(1.1);
}
	