

  body {
	background-image: url("../../assets/rink.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	height: 100vh;
	margin: 0;
  }
  .mat-toolbar {
	height: auto;
	position: fixed;
}

  .table-without-background {
    background: none;
	margin-top: 3rem;
	border-collapse: collapse;
	margin: auto;
	width: 80%;
}
  
  h1 {
	font-family: 'Arial', sans-serif; font-size: 36px; margin-bottom: 10px; color: #000000;
  }
  h2{
	font-family: 'Arial', sans-serif; font-size: 24px; font-weight: normal; color: #000000;
  }
  
  .game {
	display: flex;
	justify-content: center;
  }
  
  .guess {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .guess label {
	font-size: 1.2rem;
  }
  
  .guess input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	font-size: 1.2rem;
	border: 2px solid #ccc;
	border-radius: 5px;
  }
  
  .guess button {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	background-color: #578ac1;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  
  th, td {
	padding: 0.5rem;
	text-align: center;
	border-bottom: 1px solid #ddd;
  }
  
  /* Optional: Make table headers sticky if desired */
th {
	position: sticky;
	top: 0;
	background-color: #f2f2f2;
  }

  /* Apply this CSS for the table */
.table-responsive {
	width: 100%;
	overflow-x: auto;
  }
  
  /* Add a max-width to prevent the table from stretching too wide on large screens */
  table {
	max-width: 100%;
  }
  /* Style des lignes impaires de la table */
	table tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
  }