

  body {
	background-image: url("../../assets/rink.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
	height: 100vh;
  }
  

  .table-without-background {
    background: none;
	margin-top: 3rem;
	border-collapse: collapse;
	margin: auto;
	width: 80%;
}
  
  h1 {
	font-family: 'Arial', sans-serif; font-size: 36px; margin-bottom: 10px; color: #000000;
  }
  h2{
	font-family: 'Arial', sans-serif; font-size: 24px; font-weight: normal; color: #000000;
  }
  
  .game {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
  }
  
  .guess {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .guess label {
	font-size: 1.2rem;
  }
  
  .guess input {
	margin-bottom: 1rem;
	padding: 0.5rem;
	font-size: 1.2rem;
	border: 2px solid #ccc;
	border-radius: 5px;
  }
  
  .guess button {
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	background-color: #578ac1;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  
  th, td {
	padding: 0.5rem;
	text-align: center;
	border-bottom: 1px solid #ddd;
  }
  
  th {
	background-color: #f2f2f2;
  }

  .reset button{
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	background-color: #578ac1;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  /* Style des lignes impaires de la table */
	table tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
  }
  table tbody tr:nth-child(even) {
	background-color: #b9b8b8;
  }
  nav {
	background-color: #333;
	height: 50px;
  }
  
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
  }
  
  li a:hover {
	background-color: #111;
  }