<body>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="goLanding()">
			<mat-icon>home</mat-icon>
		  </button>
		<button mat-icon-button (click)="openDialogHelp()">
			<mat-icon>help</mat-icon>
		</button>
		<button mat-icon-button (click)="openDialogClue()">
			<mat-icon>lock_open</mat-icon>
		  </button>
		<button mat-icon-button (click)="restartGame()">
		  <mat-icon>autorenew</mat-icon>
		</button>
		<button mat-icon-button (click)="openDivision()">
			Divisions
		</button>
	</mat-toolbar>
	<div class="center-container">
		<br>
		<div style="text-align: center;padding: 2%;">
			<br>
			<h1>
				NHL Wordle
			</h1>
			<h2>
				Players from the 2023-2024 season
			</h2>
		</div>
		<div class="game">
		  <div class="guess">
			<label for="playerGuess" style="font-family: 'Arial', sans-serif; font-size: 24px; font-weight: normal; color: #000000;">Enter player name:</label>
			<br>
			<input type="text" id="playerGuess" name="playerGuess" #guessInput (keyup.enter)="updateTable();clearInput(guessInput)" list="players-list"
			[disabled]="this.foundIt">
			
			<datalist id="players-list">
			  <option *ngFor="let player of allNames" value="{{ player }}">
			</datalist>
			<p></p>
			<button (click)="updateTable();clearInput(guessInput)" [disabled]="this.foundIt">Check</button>
		  </div>
		</div>
		<br>
		<div class="table-responsive">
			<table class="table-without-background">
				<thead>
				  <tr>
					<th>Try #</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Team</th>
					<th>Division</th>
					<th>Position</th>
					<th>Age</th>
					<th>Number</th>
				  </tr>
				</thead>
				<tbody>
				  <tr *ngFor="let guess of guesses">
					<td>{{ guess.num }}</td>
					<td [ngStyle]="{'background-color': chooseColorFirstName( guess.firstName)}">{{ guess.firstName }}</td>
					<td [ngStyle]="{'background-color': chooseColorLastName( guess.lastName)}">{{ guess.lastName }}</td>
					<td [ngStyle]="{'background-color': chooseColorTeam( guess.team)}">{{ guess.team }}</td>
					<td [ngStyle]="{'background-color': chooseColorDivision( guess.division)}">{{ guess.division }}</td>
					<td [ngStyle]="{'background-color': chooseColorPos( guess.position)}">{{ guess.position }}</td>
					<td [ngStyle]="{'background-color': chooseColorAge( guess.age)}">{{ guess.age }}</td>
					<td [ngStyle]="{'background-color': chooseColorNumber( guess.number)}">{{ guess.number }}</td>
				  </tr>
				</tbody>
				
			  </table>
		</div>
		
	  </div>
	  
</body>
