table {
border-collapse: collapse;
width: 100%;
}

th,
td {
border: 1px solid #ccc;
padding: 8px;
text-align: center;
background-color: #697987;
}

.mat-toolbar {
height: auto;
}

.spacer {
flex: 1;
}

.non-clickable {
    pointer-events: none; /* Disable click events */
	background-color: green;
}

.cell-hover:hover {
	background-color: #ababab;
	cursor: pointer;
  }

  
