<mat-toolbar color="primary">
	<button mat-icon-button>
		<mat-icon>menu</mat-icon>
	  </button>
	  <button mat-icon-button (click)="reset()">
		<mat-icon>restore</mat-icon>
	  </button>
  </mat-toolbar>
<div style="text-align:center">
	<h1>
	  Welcome to Grid Trivia NHL!
	</h1>
	<h2>
		1950-1951 to 2022-2023
	</h2>
  </div>
<div>
    <label for="grid-size">Choose Grid Size:</label>
    <select id="grid-size" [(ngModel)]="selectedSize" (change)="updateGridSize()">
      <option value="3x3">3x3</option>
      <option value="4x4">4x4</option>
      <option value="5x5">5x5</option>
    </select>
  </div>
  <div class="hockey-game">
	<table>
	  <tr>
		<th></th>
		<th *ngFor="let col of grid" [style.backgroundImage]="'url(../assets/' + randomCol[col - 1] + '.png)'" 
			style="background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			height: 50px;">
		</th>
	  </tr>
	  <tr *ngFor="let row of grid">
		<th [style.backgroundImage]="'url(../assets/' + randomRow[row - 1] + '.png)'" 
			style="background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			height: 50px;">
		</th>
		<td *ngFor="let col of grid" [style.background-color]="cellBackgrounds[row - 1][col - 1]">
		  <input [(ngModel)]="players[row][col]" placeholder="Enter player name" [disabled]="isGreen(row - 1, col - 1)" (keydown.enter)="handleInput($event.target, row, col)"/>
		</td>
	  </tr>
	</table>
  </div>

  <div style="text-align:center">
	<h1>
	  Number of guesses left {{ nbGuess }}!
	</h1>
  </div>